<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyClrT7m__LFaxgXQUi0XxElQpY0r_v8ELY</string>
	<key>GCM_SENDER_ID</key>
	<string>809182134007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dharmendrasapplication.app</string>
	<key>PROJECT_ID</key>
	<string>prarambh-edae4</string>
	<key>STORAGE_BUCKET</key>
	<string>prarambh-edae4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809182134007:ios:a0faa6628108ca4198ddf2</string>
</dict>
</plist>